html, body, #root, .App {
    height: 100%;
}

.header-item-select, .header-item-valider, .header-item-input {
    float: left;
    margin: 20px;
}

.header-item {
    height: 30px;
    width: 80px;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 15px;
}

.container-status {
    clear: both;
}

.list-status {
    height: calc(100vh - 75px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center
}

.list-status-active, .list-status-inprogress, .list-status-completed {
    margin-right: 15px;
    width: 300px;
    /* height: 500px; */
    text-align: center;
}

.TodoList {
    height: 100%;
}

.Todo {
    padding: 10px 5px;
    background: #efefef;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    height: 65px;
}

.Todo:hover {
    box-shadow: 1px 1px 1px lightgray;
}

.project-button {
    border-radius: 4px;
    margin: 10px;
    font-weight: lighter;
    font-size: 15px;
}

.project-container {
    width: 21%;
    height: 600px;
    border-right: 1px solid gray;
    margin: 20px;
    float: left;
    margin-top: 0px;
    padding-top: 15px;
}

.btn {
    color: #fff;
}

.list-status-title {
    font-size: 20px;
    border-bottom: 1px solid #cecece;
    display: block;
    margin-bottom: 20px;
}

hr {
    margin: 120px;
}

.projet-card {
    margin-bottom: 10px;
    border-radius: 4px;
    padding-bottom: 0px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    text-align: center;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.icon-edit {
    float: left;
    height: 25px;
}

.icon-delete {
    float: right;
    height: 25px;
}